<div class="Battlefield">
  <div class="Battlefield-sideCommentX">
    <div class="Battlefield-sideCommentItem" *ngFor="let letter of positionY">{{letter}}</div>
  </div>
  <div class="Battlefield-mainArea">
    <div class="Battlefield-sideCommentY">
      <div class="Battlefield-sideCommentItem" *ngFor="let digit of positionX">{{digit}}</div>
    </div>
    <div class="Battlefield-grid" click>
        <ng-container *ngFor="let row of tiles; let i = index">
        <ng-container *ngFor="let tile of row; let j = index">
          <app-tile
            [attr.data-positon]="positionY[j] + positionX[i]" 
            [position]="tile.position"
            [isShip]="tile.isShip"
            [isAroundShip]="tile.isAroundShip"
            [owner]="owner" 
            [state]="tile.state"
            (getFiredByPlayer)="getFired($event)">
          </app-tile>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
