.Battlefield
    display: flex
    flex-direction: column
    max-width: 331px
    margin-bottom: 30px

    &-grid
        display: flex
        flex-wrap: wrap
        max-width : 301px
        border-top: 1px solid rgba(0,0,255,.3)
        border-left: 1px solid rgba(0,0,255,.3)

    &-sideCommentX 
        display: flex
        margin-left: auto 

    &-sideCommentY
        display: flex
        flex-direction: column
               

    &-sideCommentItem 
        display: flex
        justify-content: center
        align-items: center
        width: 30px
        height: 30px

    &-mainArea
        display: flex
   




